### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule zatrudnij-testera index.html
RewriteRule kim-jestem kimjestem.html
RewriteRule oferta-testowanie-manualne oferta.html
RewriteRule cv-testera cv.html
RewriteRule kontakt-tester kontakt.html